/* Desktop */
@media (min-width: 992px){
    .navbar{
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        position: fixed;
        top: 0;
        left: -15rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        width: 17rem;
        background-color: #17436B;
    }

    .navbar-brand {
        display: flex;
        padding: 0.5rem;
        margin: 0 auto;
    }
    .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid rgba(255, 255, 255, 0.2);
    }
    .navbar-collapse {
        display: flex;
        align-items: flex-start;
        flex-grow: 0;
        width: 100%;
    }
    .navbar-nav {
        flex-direction: column;
        width: 100%;
    }
}



/* Mobile */
@media (max-width: 991px){

}